.section {
    width: 100%;
    display: flex;
    background-color: var(--layer-default);
    border: 1px solid var(--card-stroke-default);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
}

.section .avatar_container {
    width: fit-content;
}

.section .avatar_container img {
    border-radius: 50%;
    border: 1px solid var(--card-stroke-default-solid);
}

.section .post_container {
    flex: 1;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_container > * {
    width: 100%;
}

.section .actions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.actions_left {
    display: flex;
    gap: 10px;
}

.actions_left>button, .actions_left>.emoji_picker_container>button, .actions_left>.visibility_dropdown>button {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--subtle-transparent);
    border: 1px inset var(--subtle-transparent);
    cursor: pointer;
    color: var(--text-secondary);
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.actions_left>button i, .actions_left>.emoji_picker_container>button i, .actions_left>.visibility_dropdown>button i {
    color: var(--accent-default);
}

.actions_left button:hover {
    background-color: var(--subtle-secondary);
    border-color: var(--subtle-secondary);
}

.emoji_picker {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.emoji_picker_container:hover .emoji_picker {
    display: flex;
}

.visibility_dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.visibility_list {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: fit-content;
    background-color: var(--solid-background-senary);
    border-radius: 8px;
    border: 1px solid var(--card-stroke-default);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px var(--shadow-flyout);
    display: none;
}

.visibility_dropdown.active .visibility_list {
    display: flex;
}

.visibility_item {
    padding: 5px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--subtle-transparent);
    cursor: pointer;
    user-select: none;

    color: var(--text-primary);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
}

.visibility_item:hover {
    background-color: var(--subtle-secondary);
    border-color: var(--subtle-secondary);
}



.media_gallery {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.media_item {
    position: relative;
}

.media_item img, .media_item video {
    border-radius: 8px;
    border: 1px solid var(--card-stroke-default);
    object-fit: cover;
}

.remove_media_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--control-on-image-fill-default);
    border: 1px solid var(--control-strong-stroke-default);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.remove_media_button:hover {
    background-color: var(--control-on-image-fill-secondary);
}