.section {
}

.section.own {
}

.content_and_actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.own .content_and_actions {
    align-items: flex-end;
}

.reply_to {
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
        flex: 1;
    }
    i {
        color: var(--accent-default);
    }

    * {
        display: inline-block;
        vertical-align: middle;
    }
}

.content {
    width: fit-content;
    border-radius: 4px;
    background-color: var(--card-background-default);
    border: 1px inset var(--card-stroke-default);
    max-width: 400px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    color: var(--text-primary);
    padding: 10px;
    word-wrap: break-word;
}

.own .content {
    color: var(--text-on-accent-primary);
    background-color: var(--accent-default);
}

.edited_text {
    font-style: italic;
    width: 100%;
    text-align: left;
}

.own .edited_text {
    text-align: right;
}

.medias {
    width: fit-content;
    position: relative;
    margin-top: 2px;

    &.multi_media {
        margin-top: 10px;
    }

    .media {
        width: 150px;
        height: 150px;
        border-radius: 4px;
        top: 0px;
        right: 0px;
        position: relative;
        cursor: pointer;
        img {
            border-radius: inherit;
        }

        &:nth-child(1) {
            z-index: 3;
        }

        &:nth-child(2) {
            z-index: 2;
            transform: rotate(4deg) translateY(-2px) translateX(4px);
            position: absolute;
        }

        &:nth-child(3) {
            z-index: 1;
            transform: rotate(-4deg) translateY(-2px) translateX(-4px);
            position: absolute;
        }
    }

}

.content:hover .flyout_container, .flyout_container:hover {
    display: block;
}

.flyout_container {
    display: none;
}

.own .flyout_container {
    left: auto;
    right: 100%;
    padding-right: 10px;
    color: var(--text-primary);
}

.flyout_container {
    position: absolute;
    z-index: 5;
    top: -1px;
    left: 100%;
    padding-left: 10px;
}

.flyout {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 200px;

}

.flyout_button {
    display: flex;
    gap: 10px;
    padding: 7px 11px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    border: 1px inset var(--subtle-transparent);
    border-radius: 3px;
    cursor: pointer;
}

.flyout_button:hover {
    background-color: var(--subtle-secondary);
    border-color: var(--subtle-secondary);
}

.flyout_button i {
    color: var(--accent-default);
}