.section {
    background-color: var(--acrylic-background-base-luminosity);
    mix-blend-mode: luminosity;
    backdrop-filter: blur(60px);
}

.section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--acrylic-background-base-tint);
    mix-blend-mode: color;
}