.root {
    width: 100%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    height: fit-content;
}

.root textarea {
    max-height: 200px;
}

.root > * {
    width: 100%;
}

.root .buttons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.root .buttons .button_left {
    display: flex;
}

.root > :last-child {
    width: 100%;
}

.media_list {
    width: 100%;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.media_item {
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 5px;
    border: 1px solid var(--control-stroke-default);
}

.media_item img {
    border-radius: 5px;
}

.media_item > button {
    position: absolute;
    top: 2;
    right: 2;
    z-index: 1;
    padding: 2px;
    border-radius: 50%;
    background-color:  var(--control-on-image-fill-default);
    border: 1px solid var(--control-stroke-default);
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background-color:  var(--control-on-image-fill-secondary);
    }

    &:active {
        background-color:  var(--control-on-image-fill-tertiary);
    }
}

.emoji_picker_loading {
    background-color: var(--solid-background-base);
    width: 360px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--card-stroke-default);
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji_picker {
    position: absolute;
    bottom: 0;
    left: calc(100% + 5px);
    z-index: 1;
}

.button_right {
    display: flex;
    align-items: center;
    gap: 5px;
}