.root {
    min-width: 200px;
    height: 32px;
    min-height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px 3px 10px;
    gap: 5px;
    background-color: var(--control-default);
    border-bottom: 1px inset var(--control-strong-stroke-default);
    border-left: 1px inset var(--control-stroke-default);
    border-top: 1px inset var(--control-stroke-default);
    border-right: 1px inset var(--control-stroke-default);
    outline: none;
    position: relative;

    &:hover {
        background-color: var(--control-hover);
    }
    
    &:focus-within{
        background-color: var(--control-input-active);
        border-bottom: 1px inset var(--accent-default);
    }
    
    input {
        width: 100%;
        border: unset;
        outline: unset;
        background-color: unset;
        color: var(--text-primary);

    
        &::-ms-reveal, &::-ms-clear, &::-webkit-search-cancel-button, &::-webkit-calendar-picker-indicator, &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            display: none;
            appearance: none;
            margin: 0;
        }
    }

    .input_button {
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        background-color: unset;
        border: 1px solid var(--subtle-transparent);
        outline: none;
        color: var(--text-secondary);

        &:hover {
            background-color: var(--subtle-secondary);
            border-color: var(--subtle-secondary);
        }
    }
    
    &.disabled {
        background-color: var(--control-disabled);
        border: 1px inset var(--control-stroke-default);
        color: var(--text-disabled);

        input {
            color: var(--text-disabled);
        }

        .input_button {
            color: var(--text-disabled);

            i {
                color: var(--text-disabled);
            }

            &:hover {
                border-color: var(--subtle-transparent);
                background-color: var(--subtle-transparent);
            }
        }
    }
}

.input_date {
    position: relative;
    cursor: pointer !important;
    
    input {   
        cursor: pointer !important;
    }
}

.date_picker {
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    background-color: var(--solid-background-senary);
    border-radius: 4px;
    border: 1px solid var(--control-stroke-default);
    box-shadow: 0px 8px 16px 0px var(--shadow-flyout);
    display: flex;
    flex-direction: row;
    
    .input_button {
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        background-color: unset;
        border: 1px solid var(--subtle-transparent);
        outline: none;
        color: var(--text-secondary);

        &:hover {
            background-color: var(--subtle-secondary);
            border-color: var(--subtle-secondary);
        }
    }

    .date_content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 5px;
        border-right: 1px solid var(--control-stroke-default);

        .date_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0px;

            .date_header_title {
                width: 100%;
            }
        }

        .date_list_container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;

            .days_of_week {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 5px;
                place-items: center;
                
                .day {
                    width: 28px;
                    height: 28px;
                }
            }
            
            .dates_of_month {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 5px;
                place-items: center;

                .empty_date {
                    width: 28px;
                    height: 28px;
                }

                .date {
                    width: 28px;
                    height: 28px;
                    user-select: none;
                    cursor: pointer;
                    border: 1px inset var(--subtle-transparent);
                    border-radius: 4px;
                    background: none;

                    &:hover {
                        background-color: var(--subtle-secondary);
                        box-shadow: inset 0px 0px 1px var(--subtle-secondary);
                    }
                }

                .selected_date {
                    background-color: var(--accent-default) !important;
                    color: var(--text-on-accent-primary) !important;
                }

                .today {
                    border-color: var(--accent-default) !important;
                }
            }
        }
    }
    
    .month_content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 5px;

        .month_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0px;

            .month_header_title {
                width: 100%;
            }
        }

        .month_list_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
            place-items: center;

            .month {
                user-select: none;
                cursor: pointer;
                border: 1px inset var(--subtle-transparent);
                border-radius: 4px;
                background: none;
                width: fit-content;
                height: fit-content;
                padding: 8px 10px;

                &:hover {
                    background-color: var(--subtle-secondary);
                    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
                }
            }
        }

        .today_button {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: end;
        }
    }
}