.root {
    height: fit-content;
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 3px 5px 3px 10px;
    gap: 5px;
    background-color: var(--control-default);
    border-bottom: 1px inset var(--control-strong-stroke-default);
    border-left: 1px inset var(--control-stroke-default);
    border-top: 1px inset var(--control-stroke-default);
    border-right: 1px inset var(--control-stroke-default);
    overflow-y: scroll;
    outline: none;
    position: relative;
}

.root:hover {
    background-color: var(--control-hover);
}

.root:focus-within{
    background-color: var(--control-input-active);
    border-bottom: 1px inset var(--accent-default);
}

.root.disabled {
    background-color: var(--control-disabled);
    border: 1px inset var(--control-stroke-default);
    color: var(--text-disabled);
}

.root.disabled > textarea {
    color: var(--text-disabled);
}

.root > textarea {
    width: 100%;
    border: unset;
    outline: unset;
    background-color: unset;
    color: var(--text-primary);
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

}