.list_item {
    background-color: var(--subtle-transparent);
    padding: 7px 11px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    color: var(--text-primary);
}

.list_item:hover {
    background-color: var(--subtle-secondary);
    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
}

.list_item.disabled {
    background-color: var(--subtle-disabled);
    color: var(--text-disabled);
}
.list_item.active::before {
    content: "";
    width: 4px;
    height: 16px;
    border-radius: 100px;
    background-color: var(--accent-default);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
