.section {
    width: 360px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.group_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group, .group_active {
    color: var(--text-primary);
    position: relative;
    cursor: pointer;
    padding: 5px;
    background-color: var(--subtle-transparent);
    border-radius: 4px;
    border: 1px inset var(--subtle-transparent);
}

.group:hover, .group_active:hover {
    background-color: var(--subtle-secondary);
    border-color: var(--subtle-secondary);
}

.group_active::after {
    content: '';
    width: 50%;
    height: 3px;
    border-radius: 999px;
    background-color: var(--accent-default);
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.emoji_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emoji_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.emoji_group, .emoji_group > * {
    width: 100%;
}

.group_title {
    color: var(--text-primary);
    /* font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400; */
}

.emoji_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.emoji {
    display: inline-block;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    border: 1px inset var(--subtle-transparent);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.emoji:hover {
    background-color: var(--subtle-secondary);
    border-color: var(--subtle-secondary);
}