.root {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    border-radius: 8px;
    width: 400px;

    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}